#Eclipse
.classpath
.project
.settings/

#&nbsp;Intellij
.idea/
*.iml
*.iws
target/
#maven
.mvn/

#&nbsp;Mac
.DS_Store

#&nbsp;Maven
log/
target/
*.class

#&nbsp;Package&nbsp;Files&nbsp;#
*.jar
*.war
*.ear

*.json
